body, p {
  color: #000;
  margin: 0;
  padding: 0;
}

ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
ul li{
    color: #9f39c5;
    padding: 5px 20px;
    border: 1px solid #470;
    margin: 0 10px 10px 0;
    background: white;
    border-radius: 10px;
    z-index: 2;
    font-family: 'Princess Sofia', cursive;
    font-size: 125%;

}

li:hover {
  box-shadow: 0 0 5px 5px #C8C8C8;
}

li:click {
  box-shadow: 0 0 0px 0px #C8C8C8;
}

.title_letters {
    padding: 30px 0 10px 0;
}

.pull_letters{
    font-family: 'Princess Sofia', cursive;
    color: #9f39c5;
    width: 100px;
    padding: 0 10px;
    z-index: 3;
}
.header {
  background-color: #599f32;
  margin: 0 0 5px 0;
  border-radius: 10px;
  border: 2px solid #770;
  z-index: 4;
}

.main {
  background-color: #f589bc;
  margin: 5px 5px 0 0;
  border-radius: 10px;
  border: 2px solid #700;
  height: 400px;
  overflow-y: scroll;
  z-index: 4;
}

.nav {
  background-color: #9f39c5;
  margin: 5px 0 0 5px;
  padding: 0 0 0 10px;
  border-radius: 10px;
  border: 2px solid #770;
  min-height: 400px;
  box-shadow: 0px 0px 0px 0px #44F;
}
.container {
  width: 970px;
}

.col-md-9 {
  width: 760px;
}

.col-md-3 {
  width: 230px;
}

.header_p {
  font-family: 'Princess Sofia', cursive;
  margin: 0 10px 0 10px;
  font-size: 150%;
  display: inline-block;
  padding: 0 10px;
}

p:hover {
  color: white;
}


@media screen and (max-width: 991px){
  .container {
    width: 670px;
  }

  .col-md-9 {
    width: 490px;
    float: left;
  }

  .col-md-3 {
    width: 170px;
    float: right;
  }

}

@media screen and (max-width: 691px){
  .container {
    width: 95%;
  }

  .col-md-9 {
    width: 100%;
    margin: 5px 0;
  }
  .main {
    min-height: 350px
  }
  .nav {
    min-height: 50px;
  }
  .col-md-3 {
    width: 100%;
    margin: 5px 0;
  }
  ul li {
    display: inline-block;
  }
  .header, .main, .nav {
    text-align: center;
  }
}
